/*Tota la pàgina de PadelMania tendrà aquesta font de lletra*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*En el body posarem l'imatge de fons*/
body{
    background-image: url(Fotos_padel/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10;
    overflow: scroll;
}
/*Aqui he posat que l'element imatge reduïrà la seva grandaria a la capçalera*/
img{
    width: 50px;
    height: auto;
    margin-right: 20px;
}
/*A tot l'element header li he posat el fons de color blau.*/
#cabecera_header{
    background-color: blue;
}
.botons {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/*L'element h1 li he posat el text centrat, amb color blanc i un tamany de lletra de 50px*/
h1{
    color: white;
    text-align: center;
    font-size: 50px;
}
/*A tots els botons del header li he posat el color de fons blanc*/
.boton_inici{
    background-color: white;
}
/*En l'element footer he posat tot el fons de color blau clar i amb un tamany de lletra de 15px*/
#footer_informació{
    background-color: black;
    font-size: 15px;
}
/*A l'element p del footer li he posat el color de lletra de color rosa oscur*/
.color_lletra{
    color: white;
}
.enlace[target="_blank"] {
    color: white;
}
.enlace:hover{
    color: yellow;
}
a[target="_blank"] {
    color: black;
}
a:hover {
    color: blue;
}
.video_tamany {
    width: 50%;
    height: auto;
}
@media (max-width: 936px) {
    body {
        background-image: none;
    }
    button {
        display: inline-block;
        width: 100%;
    }
}